<footer>
    <div class="soc_media_panel">
        <div>
            <p>Facebook</p>
        </div>
        <div>
 
            <p>Instagram</p>
        </div>
        <div>
 
            <p>Pinterest</p>
        </div>
        <div>
            <icon></icon>
            <p>Twitter</p>
        </div>
    </div>



    <div class="post_box">
        <div class="post">
            
        </div>
        
        <div class="post">

        </div>
        
        <div class="post">

        </div>
        
        <div class="post">

        </div>

    </div>




</footer>
</body>
</html>
