<nav class="navbar">
    <div class="navbar_members">
        <div class="navbar_links">
            <ul>
                <li>
                    <h1>Home</h1>
                </li>
                <li>
                    <h1>About</h1>
                </li>
                <li>
                    <h1>Travel</h1>
                </li>
                <li>
                    <h1>Eat</h1>
                </li>
                <li>
                    <h1>Relax</h1>
                </li>
            </ul>
        </div>
        <div class="navbar_icons">
            <a href="https://www.facebook.com" target="_blank"><img src="/images/social1.png"  alt="facebook"></a>   
            <a href="https://www.instagram.com" target="_blank"><img src="/images/insta.png"  alt="instagram"></a>          
            <a href="https://x.com" target="_blank"><img src="/images/twit.png" alt="twiter"></a>
            <a href="https://www.pinterest.com" target="_blank"><img src="/images/pinterest.webp" alt="pinterest"></a>            
        </div>
    </div>
</nav>